.maincontainer-left {
    width:100%;
    height: 100%;
    /* display: inline-block; */
}

.maincontainer-top {
    width:100%;
    height: 100%;
    /* display: inline-block; */
    
}

#about-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
    /* text-align: left; */
}


#experience-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

.maincontainer-middle {
    width:100%;
    height: 100%;
    /* display: inline-block; */
}

#project-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

#skill-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

.maincontainer-bottom {
    width:100%;
    height: 100%;
}

#education-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

#contact-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}


.build-new {
    /* display: inline-block;
    width: 505px;
    height: 10px; */
    padding: 50px; 
    /* border: 2px solid white; */
    /* text-align: right; */
}  

.comment {
    /* display: inline-block; */
    width: 505px;
    height: 350px;
    padding: 10px;
    border: 2px solid white;
    /* text-align: left; */
}

/* #comment-btn {
    appearance: none;
    background-color: #fff;
    font-size: 10px;
    text-decoration: none;
    color: black;
    padding: 10px 32px;
    line-height: 1.5;
    transition: 0.65s ease;
} */

/* #comment-btn {
    background-color: var(--artichoke);
    color: var(--whitish);
    border: 1px solid var(--artichoke);
    margin-right: .5rem;
    margin-left: .5rem;
} */

h1 {
    font-family: sans-serif;
    color:darkslategrey;
  }


body {
    background-color: #D3D3D3;
    
  }


.g-signin2 {
    display: none;
}

.color-button {
    cursor: pointer;
}


