.maincontainer-left {
    position: absolute;
    top: 30%;
    left: 5%;
}

.maincontainer-top {
    width:100%;
    height: 100%;
    padding-top: 50px;
}

.square {
    position: relative;
}

.like-button {
    position: absolute;
    bottom: 20px; 
    left: 20px;
}


#about-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
    /* text-align: left; */
    /* background-image: url("/static/img"); */
    /* background-color: */
}


#experience-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

.maincontainer-middle {
    width:100%;
    height: 100%;
    /* display: inline-block; */
    
}

#project-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
    /* position: relative; */
}

#skill-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
    /* position: relative; */
}

.maincontainer-bottom {
    width:100%;
    height: 100%;
}

#education-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}

#contact-div {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 2px solid white;
}


.build-new {
    /* display: inline-block;
    width: 505px;
    height: 10px; */
    padding: 50px; 
    /* border: 2px solid white; */
    /* text-align: right; */
}  

.comment {
    /* display: inline-block; */
    width: 505px;
    height: 350px;
    padding: 10px;
    border: 2px solid white;
    /* text-align: left; */
}

/* #comment-btn {
    appearance: none;
    background-color: #fff;
    font-size: 10px;
    text-decoration: none;
    color: black;
    padding: 10px 32px;
    line-height: 1.5;
    transition: 0.65s ease;
} */

/* #comment-btn {
    background-color: var(--artichoke);
    color: var(--whitish);
    border: 1px solid var(--artichoke);
    margin-right: .5rem;
    margin-left: .5rem;
} */

h1 {
    font-family: sans-serif;
    color:darkslategrey;
  }


body {
    background-color: #D3D3D3;
    
  }


.g-signin2 {
    display: none;
}

.color-button {
    cursor: pointer;
}

.login-account {
    width:200px;
    height:200px;
    position: fixed;
    background-color: blue;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


