.maincontainer-top {
    width:100%;
    height: 100%;
}

#about-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
    text-align: left;
}


#experience-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
}

.maincontainer-middle {
    width:100%;
    height: 100%;
}

#project-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
}

#skill-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
}

.maincontainer-bottom {
    width:100%;
    height: 100%;
}

#education-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
}

#contact-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid white;
}


.build-new {
    display: inline-block;
    width: 400px;
    height: 5px;
    padding: 50px;
    border: 2px solid white;
    text-align: right;
} 

h1 {
    font-family: sans-serif;
    color: brown;
  }

  
body {
    background-color: #D3D3D3;
  }

.g-signin2 {
    display: none;
}
