{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block body %}
  
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="Username">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  

  <h2>Login to your Account</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}