<!doctype html>

<html>
  
  <title>Account</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="google-signin-scope" content="profile email"> -->
    <meta name="google-signin-client_id" content="1028859467258-6ioql4vvepe23rpcicc6vq5so86vt7pf.apps.googleusercontent.com">

    <!-- old -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
    <!-- <link rel="stylesheet" href="/static/css/styles.css">  -->

    <!-- new -->
    <!-- <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous"> -->

    <!-- new -->
    <!-- CSS only -->
    <!-- <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous"> -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
    crossorigin="anonymous"></script>   -->

    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      .account {
          width:300px;
          height:300px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -200px;
          margin-left: -100px;
      }

      body {
      /* background-color: #E0DADA; */
      background-color: #D9D4C5; 
      
      }

      h2 {
      font-family: Arial;
      }

      h3, h4, h5, h6 {
      font-family: Courier;
      }

  </style>
  </head>

  <body>

    <div class="account">

      <h2>Create an Account</h2>
      
        <form action="/account" method="POST">
          <h5>
            User <input type="text" name="username" placeholder="Username" required>
          </h5>
          <h5>
            Email <input type="text" name="email" placeholder="Email Address" required>
          </h5>
          <h5>
            Password <input type="password" name="password" placeholder="Password" required>
          </h5>

          <button id="signup-btn" type="submit">Register</button>
          
          <!-- <div class="g-signin2" data-onsuccess="onSignUp"></div> -->
        </form>


      <h2>Login to your Account</h2>

        <form action="/login" method="POST">
          <h5>
            Email <input type="text" name="email" placeholder="Email Address" required>
          </h5>
          
          <h5>
            Password <input type="password" name="password" placeholder="Password" required>
          </h5>

        <button id="login-btn" type="submit">Log In</button><br><br>
     

      <div class="g-signin2" data-onsuccess="onSignIn"></div>

      <!-- <div class="signup_link">
        <a href="#">Sign Up</a>
      </div> -->
      
    </form>
  </div>
    
  
    <!--<div class="g-signin2" data-onsuccess="googleLogIn"></div> -->
    <!--<script>
      $('a#google-login').click(function() {
      $.getScript('https://apis.google.com/js/platform.js');
  }) -->

    <!-- </script> -->
    <!-- <script>
      function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script> -->

    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

    <!-- <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script> -->

  <!-- <script>
    "use strict";
    const submittion = document.querySelector('#login-btn');
    submittion.addEventListener('click', () => {
      // evt.preventDefault();
      alert('Logged in successfully!')
    });
</script> -->

  </body>
</html>

  <!-- <script>
    "use strict";
    const submittion = document.querySelector('#signup-btn');
    submittion.addEventListener('click', () => {
      // evt.preventDefault();
      alert('Your account has been created.')
    });
</script> -->
