{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block body %}
  
  <h2>Create an Account</h2>
  <form action="/account" method="POST">
    <p>
      Username <input type="text" name="username" required>
    </p>
    <p>
      Email <input type="text" name="email" required>
    </p>
    <p>
      Password <input type="password" name="password" required>
    </p>

    <button id="signup-btn" type="submit">Register</button>
    <button id="signupgmail-btn" type="submit">Register With Gmail</button>

  </form>

  <!-- <script>
    "use strict";
    const submittion = document.querySelector('#signup-btn');
    submittion.addEventListener('click', () => {
      // evt.preventDefault();
      alert('Your account has been created.')
    });
</script> -->
  

  <h2>Login to your Account</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email" required>
    </p>
    <p>
      Password <input type="password" name="password" required>
    </p>

    <button id="login-btn" type="submit">Log In</button>
    <button id="logingmail-btn" type="submit">Log In With Gmail</button>

  </form>

  <!-- <script>
    "use strict";
    const submittion = document.querySelector('#login-btn');
    submittion.addEventListener('click', () => {
      // evt.preventDefault();
      alert('Logged in successfully!')
    });
</script> -->

{% endblock %}