{% extends 'base.html' %}

{% block title %} Build Your Own {% endblock %}

{% block body %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <script 
    src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>

</head>

<body>
    <h1 id="username">{{ session.get("user") }}, a web developer and designer</h1>
</body>


<form action="/build" method="POST">

    <div class="maincontainer-top">
        <div id="about-div">
            <div>About</div>
            <form action="/build" method="POST">
                <textarea id="about" type="text" name="about" required></textarea>
                
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
                <h3 id="about-show">{{ session.get("about") }}</h3>
        </div>

            

        <div id="experience-div">
            <div>Experience</div>
            <form action="/build" method="POST">
                <textarea id="experience" type="text" name="experience" required></textarea>
                
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
                <h3 id="experience-show">{{ session.get("experience") }}</h3>
        </div>
    </div>


    <div class="maincontainer-middle">
        <div id="project-div">
            <div>Project</div>
            <form action="/build" method="POST">
                <textarea id="project" type="text" name="project" required></textarea>
                
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
                <h3 id="project-show">{{ session.get("project") }}</h3>
        </div>
                
        <div id="skill-div">
            <div>Skill</div>
            <form action="/build" method="POST">
                <textarea id="skill" type="text" name="skill" required></textarea>
               
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
                <h3 id="skill-show">{{ session.get("skill") }}</h3>
        </div>
    </div>


    <div class="maincontainer-bottom">
        <div id="education-div">
            <div>Education</div>
            <form action="/build" method="POST">
                <textarea id="education" type="text" name="education" required></textarea>
                
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
                <h3 id="education-show">{{ session.get("education") }}</h3>
                <!-- <p> content </p> -->
        </div>
                
        <div id="contact-div">
            <div>Contact</div>
            <form action="/build" method="POST">
                <textarea id="contact" type="text" name="contact" ></textarea>
                
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            </form>
            <h3 id="contact-show">{{ session.get("contact") }}</h3>
        </div>
        <div>
            <form action="/build" method="POST">
                <button id="submit-btn" type="submit">Submit</button>
            </form>
        </div>
</form>

   
    <script>
        "use strict";
        const submittion = document.querySelector('#submit-btn');
        submittion.addEventListener('click', () => {
            alert('Form submit')
        });
    </script>
</div>



<!-- <button id="color">Change Color</button>
<script>
    "use strict";
    const button = document.querySelector('#color');
    button.addEventListener('click', () => {
        alert('Change color')
    });
</script> -->


<!-- <script src="/static/js/build_your_own_ajax.js"></script> -->

{% endblock body%}