{% extends 'base.html' %}

{% block title %} Personal Website {% endblock %}

{% block js %}
	<script src="/static/js/homepage.js" type="text/js"></script>
{% endblock %}

{% block body %}

<body>
    <h1 id="username">{{ session.get("user") }}, a web developer and designer</h1>
</body>

<form action="/build" method="POST">

    <div class="maincontainer-top">
        <div id="about-div">
            <h3>About</h3>
                <div id="about-show">{{ session.get("about") }}</div><br><br>
                <button id="like-btn" type="like">Like</button>
                <!-- <button id="like-btn" onClick="likeButton()">Like</button> -->
                <text id="like-show">0</text>
                <button id="comment-btn" type="comment">Comment</button> 
                <div id="comment-show">Awesome!</div><br>
                

                <script>
                    "use strict";
                    $('#like-btn').on('click', () => {
                        alert('You click like');
                    })
                </script>
        </div>


        <div id="experience-div">
            <h3>Experience</h3>
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
                <h4 id="experience-show">{{ session.get("experience") }}</h4>
        </div>
    </div>


    <div class="maincontainer-middle">
        <div id="project-div">
            <h3>Project</h3>
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
                <h4 id="project-show">{{ session.get("project") }}</h4>
        </div>
                
        <div id="skill-div">
            <h3>Skill</h3>
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
                <h4 id="skill-show">{{ session.get("skill") }}</h4>
        </div>
    </div>


    <div class="maincontainer-bottom">
        <div id="education-div">
            <h3>Education</h3>
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            <h4 id="education-show">{{ session.get("education") }}</h4>
        </div>
                
        <div id="contact-div">
            <h3>Contact</h3>
                <button id="like-btn" type="like">Like</button>
                <button id="comment-btn" type="comment">Comment</button> 
            <h4 id="contact-show">{{ session.get("contact") }}</h4>
        </div>
    </div>


    <div class="build-new">
        <div id="build-div">
            <a href="http://0.0.0.0:5000/account">Build your own website?</a>
        </div>
    </div>


</form>

{% endblock body%}