{% extends 'base.html' %}

{% block title %} Personal Website Homepage {% endblock %}

{% block js %}
	<script src="/static/js/homepage.js" type="text/javascript"></script> 
{% endblock %} 

{% block body %}


<body>
    <!-- <h1 id="username">{{ session.get("user") }}, a web developer and designer</h1> -->

    <div class="container">
        <div class="row">
            
                <div class="maincontainer-left">
                    <h1>Denise,</h1>
                    <h1> a web developer</h1>
                    <h1> and designer.</h1>
                </div>
            
        </div>

</div>

<div class="container">
    <div class="maincontainer-top">

        <div class="row">
            <div style="float:right;">

            
                <div class="square" id="about-div" style="background-image: url(/static/img/photo-1609097164468-b498a4ab436a.jpeg")>
                    <h3>About</h3>
                        <p id="about-show">
                            I'm a driven professional currently transitioning into full stack web development. 
                        </p>

                        <div class="like-button">
                            <button onClick="incrementButton('about')">Like</button>
                            <text id="incrementText-about">0</text>
                        </div>
                        
                </div>
                
    
                <div class="square" id="experience-div" style="background-image: url(/static/img/photo-1614414051203-03a7dc75eca5.jpeg")>
                    <h3>Experience</h3>
                        <p id="experience-show">
                            Developing a supplemental web app to assist job coaches at a local non-profit Opportunities.
                        </p>

                        <div class="like-button">
                            <button onClick="incrementButton('experience')">Like</button>
                            <text id="incrementText-experience">0</text>
                        </div>
                </div>
            </div>
            

        </div>

    </div><br>



    <div class="maincontainer-middle">
        <div class="row">
            <div style="float:right;">

                <div class="square" id="project-div" style="background-image: url(/static/img/photo-1616546311580-e191d49fa0b0.jpeg")>
                    <h3>Project</h3>
                        <p id="project-show">
                            A personal project to create an interactive, responsive, and modern display for the Boston area weather forecast.
                        </p>

                        <div class="like-button">
                            <button onClick="incrementButton('project')">Like</button>
                            <text id="incrementText-project">0</text>
                        </div>
                </div>
                        
                <div class="square" id="skill-div" style="background-image: url(/static/img/photo-1585104368639-0933bee8e8af.jpeg")>
                    <h3>Skill</h3>
                        <p id="skill-show">
                            Javascript<br>
                            HTML<br>
                            CSS<br>
                            Python
                        </p>

                        <div class="like-button">
                            <button onClick="incrementButton('skill')">Like</button>
                            <text id="incrementText-skill">0</text>
                        </div>
                </div>
            </div>
        </div>
    </div><br>


    <div class="maincontainer-bottom">
        <div class="row">
            <div style="float:right;">

                <div class="square" id="education-div" style="background-image: url(/static/img/photo-1622136061721-6f5cbad54b3d.jpeg")>
                    <h3>Education</h3>
                    <p id="education-show">Hackbright Academy
                    </p>

                    <div class="like-button">
                        <button onClick="incrementButton('education')">Like</button>
                        <text id="incrementText-education">0</text>
                    </div>
                </div>
                        
                <div class="square" id="contact-div" style="background-image: url(/static/img/photo-1514163061636-02db31852e84.jpeg")>
                    <h3>Contact</h3>
                    <p id="contact-show">Linkedin
                    </p>
                    <a href="https://www.linkedin.com/in/denise-lin-7b0171117/"></a>

                    <div class="like-button">
                        <button onClick="incrementButton('contact')">Like</button> 
                        <text id="incrementText-contact">0</text>
                    </div>
                </div>
            </div>
        </div>

    </div><br>

        <div class="row">
            <div style="float:right;">
                <div class="comment" style="background-image: url(/static/img/photo-1620351308372-6d516c6fc679.jpeg")>

                    <h3>Comment</h3>
                    <form action='/add_comment' method='post' id="comment-area">
                    <div id="comment-area">
                        <textarea id="comment-text"></textarea><br>
                        <button id="comment-btn">Send</button><br><br>
                        <text id="comment-show"></text><br><br>
                    </form>
                    </div>
                
                <h5>recruiter_jenn</h5>
                <!-- <h6>Jul.01.2021, 15:25 PST</h6> -->
                <p>I like your experiences! Let's connect!</p><br>

                <h5>tim_dev</h5>
                <!-- <h6>Jul.01.2021, 15:25 PST</h6> -->
                <p>Impressive project!</p>

                </div>
            </div>
        </div><br>

        <!-- <div class="row">
            <div style="float:right;">
                <div class="build-new">
                    <a href="http://0.0.0.0:5000/account">Build your own website?</a>
                    
                </div>
            </div>
        </div> -->

</div>


<script src="/static/js/ajax.js"></script>

</body>
 
{% endblock body%}